@mixin album--default {
    .album {
        padding: 2.5rem 0 0.625rem 0;
        width: 100%;
        
        &__artwork {
            max-width: 15.63rem;

            img {
                width: 100%;
            }
        }

        &__info {
            p {
                color: #a0a0a0;
            }
        }

        &__songs {
            ul {
                margin-top: 1.25rem;
                padding: 0;
                li {
                    list-style: none;

                    span {
                        color: #a0a0a0;
                    }

                    &:hover {
                        background: #282828;

                        .album__songs-trackNumber {
                            visibility: hidden;
                        }

                        img {
                            visibility: visible;
                        }
                    }
                }
            }

            &-play {
                width: 1.25rem;
                visibility: hidden;
                position: absolute;
                cursor: pointer;
            }

            &-trackName {
                display: block;
                color: #fff !important;
            }

            &-more {
                width: 1.25rem;
                visibility: hidden;
            }
            
        }
    }
}

@include album--default;